
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.logo {
    width: 50px;
}

.custom-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-nav li {
    display: inline-block;
    margin-right: 20px;
}

.custom-nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.custom-nav li a:hover {
    color: indianred;
}

.info {
    text-align: center;
    margin-top: 30px;
    color: white;
}

.info h1 {
    font-size: 21px;
    margin-bottom: 10px;
}

.info h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.info h3 {
    font-size: 13px;
    margin-bottom: 20px;
    color: white;
}

.image {
    text-align: center;
    margin: 10px 0;
}

.photo {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a:hover {
    text-decoration: underline;
    color: indianred;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .custom-nav li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .logo {
        width: 40px;
    }

    .info h1 {
        font-size: 18px;
    }

    .info h2 {
        font-size: 14px;
    }

    .info h3 {
        font-size: 12px;
    }

    .photo {
        max-width: 30%;
    }
}


@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 5px;
    }

    .navbar {
        flex-direction: column;
    }

    .custom-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-nav li {
        margin: 5px 0;
    }

    .logo {
        width: 30px;
    }

    .info h1 {
        font-size: 16px;
    }

    .info h2 {
        font-size: 13px;
    }

    .info h3 {
        font-size: 11px;
    }

    .photo {
        max-width: 40%;
    }

    .social-icons {
        flex-direction: column;
        align-items: center;
    }

    .social-icons li {
        margin: 5px 0;
    }

    .social-icons a {
        font-size: 18px;
    }
}











header {
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 80%;

}
.contact-info {
    position: absolute;
    top: 130px;
    right: 20px;
    text-align: right;
    font-size:90%;
}
.contact-info p {
    margin: 10px 0;
}
.contact-info a{
    font-size:80%;
    text-decoration: underline;

}

main {
    padding: 20px;
}

main{
    padding: 10px;
}
.contact {
    background: black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.contact h2{
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem 0 0.2rem;
}
input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 4px;
}
button {
    padding: 0.7rem;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;


}


footer {
    text-align: center;
    padding: 10px 0;
    background:black ;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}













body {
    font-family:  sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2px;
}

.projects {
    padding: 20px;
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.project img {
    width: 100%;
    height: 250px;


}

.project-details {
    flex-grow: 1;
    padding: 15px;
}

.project h3 {
    margin-top: 0;
    color:whitesmoke;
}

.project p {
    margin: 10px 0;
    color: white;
}

.project-link {
    display: inline-block;
    margin-top: auto;
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}










body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
}

header {
    background: black;
    color: white;
    padding: 1px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

section {
    background: black;
    padding: 20px;
    margin: 1px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: white;
    border-bottom: 2px solid ;
    padding-bottom: 0.5px;
    margin-bottom: 1px;
    font-size: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 2px;
}

ul li {
    margin-bottom: 0.5px;
}

p, ul, li {
    margin-bottom: 1px;
    color: white;
}








iframe {
    width: 100%;
    max-width: 800px; 
    height: 400px;
    border: none;


